img {
  max-width: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu #imgLogo {
  width: 200px;
  cursor: pointer;
  position: fixed;
  left: 70px;
  top: 20px;
  padding: 0;
}

.nav ul li {
  display: block;
  font-size: 28px;
  font-family: 'Noto Serif TC';
  z-index: 100;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #386641;
}

.nav ul li a:hover {
  color: #fff;
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: #8bc34a78;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-clip-path: circle(30px at calc(100% - 65px) 65px);
          clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}

nav.nav {
  display: none;
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 70px;
  top: 50px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #a7c957;
  line-height: 0.6;
}

.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 1px;
  width: 34px;
  border-radius: 1px;
  background: #293335;
  vertical-align: middle;
}

.nav-tgl > span:before {
  display: inline-block;
  position: absolute;
  content: '';
  height: 1.7px;
  border-radius: 1px;
  background: #293335;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  top: -11px;
  left: 3px;
  width: 28px;
}

.nav-tgl > span:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 1.7px;
  border-radius: 1px;
  background: #293335;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  top: 11px;
  left: 6px;
  width: 22px;
}

.nav-tgl:focus {
  outline: none;
}

.nav-tgl:hover > span:after {
  width: 34px;
  left: 0;
}

.nav-tgl:hover > span:before {
  width: 34px;
  left: 0;
}

.menu.active .nav:before {
  visibility: visible;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.menu.active nav.nav ul li {
  visibility: visible;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  display: block;
  border: 1px solid blue;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: 160px;
  left: 200px;
  padding: 20px;
  margin: 20px;
}

.menu.active .nav-tgl > span {
  height: 0;
}

.menu.active .nav-tgl > span:after {
  top: 0px;
  left: 0;
  width: 34px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu.active .nav-tgl > span:before {
  top: 0px;
  left: 0;
  width: 34px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body {
  background-color: #dfe6cf;
}

img {
  width: 100%;
}

.choice_block {
  width: 1100px;
  margin: 0 auto;
}

.choice_block .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice_block .choice_nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 600px;
}

.choice_block .choice_nav h1 {
  text-align: center;
  color: #386641;
  font-size: 48px;
}

.choice_block .choice_nav ul {
  padding: 0;
}

.choice_block .choice_nav ul li {
  text-align: center;
  font-size: 36px;
}

.choice_block .twMap {
  display: inline-block;
  width: 500px;
  position: relative;
  border: 1px solid black;
}

.choice_block .twMap img {
  width: 100%;
}

.location1 {
  position: absolute;
  top: 10%;
  right: 30%;
  width: 60px;
}

.location2 {
  position: absolute;
  top: 40%;
  right: 30%;
  width: 60px;
}

.location3 {
  position: absolute;
  top: 70%;
  right: 50%;
  width: 60px;
}

.location4 {
  position: absolute;
  top: 60%;
  right: 40%;
  width: 60px;
}

.location5 {
  position: absolute;
  top: 30%;
  right: 30%;
  width: 60px;
}

.location6 {
  position: absolute;
  top: 30%;
  right: 70%;
  width: 60px;
}

.location7 {
  position: absolute;
  top: 20%;
  right: 40%;
  width: 60px;
}

.location8 {
  position: absolute;
  top: 80%;
  right: 50%;
  width: 60px;
}

.location9 {
  position: absolute;
  top: 40%;
  right: 65%;
  width: 60px;
}

.location10 {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 60px;
}

.choice_list {
  text-align: center;
  margin: 50px 0;
}

.choice_list ul {
  padding: 0;
}

.choice_list ul li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  margin: 0px 30px;
  color: #386641;
}

.choice_list ul li h2 {
  margin: 0;
  font-size: 28px;
}

.choice_list ul li ul {
  padding: 0px;
}

.choice_list ul li ul li {
  display: block;
  font-size: 24px;
  color: #69994e;
  text-align: center;
}

.tour_browse {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
}

.tour_browse h1 {
  text-align: center;
  color: #386641;
  font-size: 24px;
}

.tour_browse_block .tour_block {
  border: 1px solid black;
  width: 350px;
  display: inline-block;
  margin: 20px;
}

.tour_browse_block .tour_block .tour_img {
  padding: 10px;
}

.tour_browse_block .tour_block .love_share {
  text-align: right;
  padding-right: 30px;
  border: 1px solid black;
}

.tour_browse_block .tour_block .love_share .love {
  display: inline-block;
  width: 30px;
}

.tour_browse_block .tour_block .love_share .share {
  display: inline-block;
  width: 30px;
}

.tour_browse_block .tour_block .tour_text {
  width: 280px;
  margin: 0 auto;
}

.tour_browse_block .tour_block .tour_text h3 {
  margin: 0;
  width: 130px;
  padding: 5px;
  color: #69994e;
}

.tour_browse_block .tour_block .tour_text p {
  margin: 0;
  padding: 5px;
  width: 130px;
}

.tour_browse_block .tour_block .tourBtn {
  text-align: center;
}

.tour_browse_block .tour_block .tourBtn button {
  padding: 5px 10px;
  margin: 10px;
  background-color: #a7c957;
}
/*# sourceMappingURL=tour.css.map */