// ---------- GENERAL STYLES ---------- //

* {
    box-sizing: border-box;
}

body {
    font-family: 'NOTO Serif TC';
}
body,
html {
    margin: 0;
    height: 100%;
}

// ---------- SCROLLING STYLES ---------- //

$panelcount: 5; // set # of panels/sections here

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1000;
}

.section {
    & {
        height: 100%;
        width: calc(100% / #{$panelcount});
        float: left;

        // aesthetic only ----
        position: relative;

        $colors: #f64747, #22a7f0, #f9690e, #9b59b6, #03c9a9;
        @for $i from 1 through length($colors) {
            &:nth-child(#{$i}) {
                background: nth($colors, $i);
            }
        }
    }
    &s {
        width: percentage($panelcount);
        height: 100%;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 30px;
        color: #fff;
    }
}
