@import './default/common';
* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.container-main * {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.hdg-bottom {
    position: relative;
    padding: 70px 0 140px;
    text-align: center;
    background-image: url(/images/index/img_bg_yg_pc.jpg);
    background-size: 100% auto;
    z-index: 1;
}

.hdg-bottom .hdg-bottom__hdg {
    margin-bottom: 50px;
    color: #fff;
    font-size: 1.75rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-align: center;
}

.about-list li .hdg span {
    display: inline-block;
    vertical-align: middle;
}

.about-list li .hdg {
    margin-bottom: 15px;
    color: #7d9a1a;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.hdg-bottom .hdg-bottom__txt {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 1.125rem;
    letter-spacing: 0.1rem;
    line-height: 2.5;
    text-align: left;
}

.common-btn .common-btn__blobs {
    height: 100%;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 25px;
}

.common-btn .common-btn__txt {
    position: relative;
    color: #90a30b;
    z-index: 1;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.common-btn {
    position: relative;
    display: inline-block;
    padding: 14px;
    width: 260px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-radius: 25px;
}
.common-btn:after {
    content: '>>';
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #90a30b;
    font-size: 1.125rem;
    font-family: 'FontAwesome';
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.common-btn:hover:after {
    color: #fff;
}

.about-list {
    position: relative;
    margin-top: 190px;
}
