@import "default/_common.scss";
@import "default/_reset.scss";
@import "default/_variables.scss";



main{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    h2{
        font-size: $h3;
        margin: 50px 0;
    }
    .block1{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px 0;
        display: flex;
        margin: 60px 37px;
        justify-content: center;
        // width: 80%;
    
        .pic{
            width: 460px;
            font-size: 0;
            position: relative;
            .tea{
                width: 100%;
                z-index: 1;
            }

            .m1{
                width: 95px;
                position: absolute;
                top:-20px;
                left: -40px;
                z-index: 2;
            }
        }
        
        .info{
           
            width:600px;
            text-align: left;
            padding:10px;
            position: relative;
           
            
            .p1{
                font-size: 25px;
                margin-top: 1%;
            }

            .p2{
                font-size: 18px;
                padding: 3.1% 0;
            }

            .p3{
                line-height: 24px;
            }

            .btn{
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 0;
                margin-top: 20px; 
                
                .bt{
                    border: none;
                    color:$btn-color;
                    outline: none;
                    cursor: pointer;
                }
            }
            
        }
    }

    .ht{
        margin-top: 72px;
    }

    table{
        // border: 1px solid black;
        margin: 0 auto 30px;
        width: 80%;
        
        .title{
            font-size: 20px;
        }

        td{
            padding: 10px;
        }
    }
}

@media screen  and (max-width:960px){
    main{
        .block1{
            .pic{
                width:550px;
            }
        }
        
    }
}

@media screen  and (max-width:768px){
    main{
        .block1{
            flex-wrap: wrap;

            .pic{
                width: 100%;
            }

            .info{
                width: 100%;
            }
        }
    }
}