@import "default/_common.scss";
@import "default/_reset.scss";
@import "default/_variables.scss";


body{
    font-family: 'Noto Serif TC';
}

main{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    border: 1px solid black;


    .all{
        // border: 1px solid red;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
      
        .garden{
            display: inline-block;
            font-size: 0;
            .gpic{
                width: 500px;
            }
        }

        .ginfo{
            text-align: left;
            padding-top: 30px ;
            width: 50%;

            .s1{
                display: flex;
                justify-content:space-between;
                .p1{
                    font-size: $h4;
                }
            }

            p{
                line-height: 28px;
            }
            

            .p5{
                // line-height: 24px;
                margin-bottom: 30px;
            }

            .open{
                border: none;
                color:$btn-color;
                outline: none;
                cursor: pointer;
            }
        }
    }

    h3{
        margin-top:60px ;
        text-align: left;
        font-size: $h3;
    }
}




@media screen  and (max-width:768px){
    main{
        .all{
            flex-wrap: wrap;
            margin: 0 10px;

            .garden{
                .gpic{
                    width: 100%;
                }
            }

            .ginfo{
                width: 100%;
            }
        }
    }
}