@import "../default/reset";
@import "../default/common.scss";

//============= var ============//
//==============================//
$side: 25%;
$main: 100% - $side;

* {
    box-sizing: $box-sizing;
}

body {
    color: $bg-color;
}

main {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    // width: 80%;

    #side {
        border: 1px solid blue;
        width: $side;
        text-align: center;
        #avatar {
            border: 1px solid black;
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }
    }
    #sub_menu {
        border: 1px solid green;
        width: $main;
        display: flex;
        flex-direction: column;
        #sub_menu_bar {
            display: flex;
        }
        #tour {
            border: 1px solid black;
            width: 75%;
            display: flex;
            flex-direction: column;
        }
        #mine_fav {
            display: none;
        }
        #mine_order {
            display: none;
        }
        #mine_article {
            display: none;
        }
        #mine_profile {
            display: none;
            // display: flex;
            flex-direction: row;
            #profile {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
