@import "../default/_common.scss";

body {
    margin: 0;
}

img {
    width: 100%;
}

.choice_block {
    width: 1200px;
    margin: 0 auto;

    .flex {
        display: flex;
        align-content: center;
    }

    .choice_nav {
        // display: inline-block;
        display: flex;
        align-self: center;
        width: 500px;
        vertical-align: top;
        border: 1px solid black;


    }

    .twMap {
        display: inline-block;
        width: 500px;
        position: relative;
        border: 1px solid black;

        img {
            width: 100%;
        }
    }
}

.location1 {
    position: absolute;
    top: 10%;
    right: 30%;
    width: 80px;
}

.location2 {
    position: absolute;
    top: 40%;
    right: 30%;
    width: 80px;
}

.location3 {
    position: absolute;
    top: 70%;
    right: 50%;
    width: 80px;
}

.choice_list {
    text-align: center;

    ul {
        li {
            display: inline-block;
            vertical-align: top;
            text-align: left;
            position: relative;

            ul {


                li {
                    display: block;
                }
            }
        }
    }
}

.tour_browse {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;

    h1 {
        text-align: center;
    }
}

.tour_browse_block {
    text-align: center;


    .tour_block {
        border: 1px solid black;
        width: 350px;
        display: inline-block;
        margin: 20px;



        .tour_img {

            padding: 10px;



        }

        .love_share {
            text-align: right;
            padding-right: 30px;
            border: 1px solid black;



            .love {
                display: inline-block;
                width: 30px;


            }

            .share {
                display: inline-block;
                width: 30px;

            }
        }

        .tour_text {
            width: 280px;
            margin: 0 auto;

            h3 {
                margin: 0;

                width: 130px;
                padding: 5px;
                color: $h3-color;
            }

            p {
                margin: 0;
                padding: 5px;

                width: 130px;
            }
        }

        .tourBtn {
            text-align: center;

            button {
                padding: 5px 10px;
                margin: 10px;


            }
        }



    }
}