body {
    margin: 0;
}

.choice_block {
    width: 1200px;
    margin: 0 auto;

    .choice_nav {
        display: inline-block;
        width: 500px;
        vertical-align: top;
    }

    .twMap {
        display: inline-block;
        width: 500px;

        img {
            width: 100%;
        }
    }
}

.choice_list {
    text-align: center;

    ul {
        li {
            display: inline-block;
            vertical-align: top;
            text-align: left;
            position: relative;

            ul {


                li {
                    display: block;
                }
            }
        }
    }
}

.tour_browse_block {
    .tour_block {
        border: 1px solid black;
        width: 350px;

        img {
            width: 300px;
        }
    }

}