@import 'variables';

img {
    max-width: $img-max-width;
}

body,
html {
    margin: $body-margin;
    padding: $body-padding;
}

a {
    text-decoration: $a-text-decoration;
}

ul {
    list-style: $ul-list-style;
    padding: 0;
    margin: 0;
}

.menu {
    #imgLogo {
        width: 200px;
        cursor: pointer;
        position: fixed;
        left: 70px;
        top: 20px;
        padding: $body-padding;
    }
}

.nav {
    ul {
        li {
            display: block;
            font-size: 28px;
            font-family: 'Noto Serif TC';
            z-index: 100;
            list-style: none;
            a {
                text-decoration: none;
                color: $primary-typo-color;
            }
            a:hover {
                color: $hover-color;
            }
        }
    }
    &:before {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        width: 100vw;
        height: 100vh;
        background: #8bc34a78;
        transition: all 500ms ease-in-out;
        clip-path: circle(30px at calc(100% - 65px) 65px);
        visibility: hidden;
    }
}
nav.nav {
    visibility: hidden;
}
.nav-tgl {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    right: 70px;
    top: 50px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: #a7c957;
    line-height: 0.6;
    > span {
        display: inline-block;
        position: relative;
        height: 1px;
        width: 34px;
        border-radius: 1px;
        background: #293335;
        vertical-align: middle;
        &:before {
            display: inline-block;
            position: absolute;
            content: '';
            height: 1.7px;
            border-radius: 1px;
            background: #293335;
            transition: all 200ms;
            top: -11px;
            left: 3px;
            width: 28px;
        }
        &:after {
            display: inline-block;
            position: absolute;
            content: '';
            height: 1.7px;
            border-radius: 1px;
            background: #293335;
            transition: all 200ms;
            top: 11px;
            left: 6px;
            width: 22px;
        }
    }
    &:focus {
        outline: none;
    }
    &:hover {
        > span {
            &:after {
                width: 34px;
                left: 0;
            }
            &:before {
                width: 34px;
                left: 0;
            }
        }
    }
}
.menu.active {
    .nav {
        &:before {
            visibility: visible;
            clip-path: circle(100%);
        }
    }
    nav.nav {
        ul {
            li {
                visibility: visible;
                clip-path: circle(100%);
                display: block;
                border: 1px solid blue;
                display: inline-flex;
                position: relative;
                top: 160px;
                left: 200px;
                padding: 20px;
                margin: 20px;
            }
        }
    }
    .nav-tgl {
        > span {
            height: 0;
            &:after {
                top: 0px;
                left: 0;
                width: 34px;
                transform: rotate(-45deg);
            }
            &:before {
                top: 0px;
                left: 0;
                width: 34px;
                transform: rotate(45deg);
            }
        }
    }
}
